<%-include('layouts/header.ejs') %>

<!--Start of Page-->
<br>
<div class="container py-5">
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
            <img src="img/aboutMe.jpeg" alt="Doctors Hospital" style="width: 90%">
        </div>
        <div class="col-8" style="font-size: 1.3rem">
            <h3>About Me</h3>
            <ul style="color: red;">
                <li>
                    <p>My birthday is March 2nd, and I'm 20 years old.</p>
                </li>
                <li>
                    <p>I have 9 siblings, 10 including me!</p>
                </li>
                <li>
                    <p>My favorite color is cyan.</p>
                </li>
                <li>
                    <p>My favorite artist is Hanz Zimmer.</p>
                </li>
                <li>
                    <p>My favorite food are Burgers.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

<div class="container py-5">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4" style="font-size:1.3rem">
            <h4 class="text-center"><strong>Languages Im learing/ Would Like to Learn</strong></h4>
            <ul style="color:red">
                <li>
                    <p>Learning Python,</p>
                </li>
                <li>
                    <p>Java</p>
                </li>
                <li>
                    <p>html/css/javascript</p>
                </li>
                <li>
                    <p>Would like to learn C++,</p>
                </li>
                <li>
                    <p>SQL</p>
                </li>

            </ul>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <img src="img/programmingLanguages.jpeg" alt="Programming Languages" width="100%">
        </div>
    </div>
</div>

<br>
<br>
<br>
</body>
</html>