<%-include('layouts/header.ejs') %>

<!--Start of Page-->

<br>

<!--Highschool-->
<div class="container">
    <div class="row">
        <div class="col-4 text-center my-auto">
            <img src="img/ZECLA.jpeg" alt="ZECLA" width="90%">
        </div>
        <div class="col-4 text-center my-auto">
            <h2><strong>ZECLA</strong></h2>
            <h5>HighSchool Diploma</h5>
            <p>Started: August 2016</p>
            <p>Completed: May 2020</p>
        </div>
        <div class="col-4 text-center my-auto">
            <img src="img/ZECLA.jpeg" alt="ZECLA" width="90%">
        </div>
    </div>
</div>

<hr>

<!--College 1-->
<div class="container">
    <div class="row">
        <div class="col-4 text-center my-auto">
            <img src="img/Palo-Alto-College-ICON.png" alt="Palo Alto College" width="70%">
        </div>
        <div class="col-4 text-center my-auto">
            <h2><strong>Palo Alto College</strong></h2>
            <h5>Ascociates of Applied Science</h5>
            <p>Started: August 2016</p>
            <p>Completed: May 2020</p>
        </div>
        <div class="col-4 text-center my-auto">
            <img src="img/Palo-Alto-College-ICON.png" alt="Palo Alto College" width="70%">
        </div>
    </div>
</div>

<hr>

<!--College 2-->
<div class="container">
    <div class="row">
        <div class="col-4 text-center my-auto">
            <img src="img/TexasA&MSanAntonioICON.png" alt="A&M - San Antonio">
        </div>
        <div class="col-4 text-center my-auto">
            <h2><strong>Texas A&M University - San Antonio</strong></h2>
            <h5>Bachelors of Science in Computer Science</h5>
            <p>Started: August 2020</p>
            <p style="display: inline-block;">Completed: Currently in progress...</p>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="col-4 text-center my-auto">
            <img src="img/TexasA&MSanAntonioICON.png" alt="A&M - San Antonio">
        </div>
    </div>
</div>

<br>
<br>
<br>
</body>
</html>